<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer Checking</title>
    <!-- Link your custom CSS file -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/answer_checking.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Answer Checking - Test {{ test_id }}</h1>
    
    <table>
        <thead>
            <tr>
                <th>Student Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for email in stud_email %}
                <tr>
                    <td>{{ email }}</td>
                    <td>
                        <form method="post" action="{{ url_for('main.check_answer', test_id=test_id, student_email=email) }}">
                            <button type="submit">Check Answer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
