<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attempt Test</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attempt_test.css') }}">
  
</head>

<body>
  <div class="container">
    <!-- Display test details -->
    <h1>{{ test.subject }}</h1>
    <p>{{ test.description }}</p>
    <!-- Add other test details like marks, time, etc. if available -->

    <!-- Display test questions -->
    <form method="POST" action="{{ url_for('main.submit_test',test_id=test.test_id) }}">
      <!-- Loop through and display test questions -->
      {% for question in questions %}

      <div class="question">

        <h3>Question {{ (loop.index) }}</h3>
        <p>{{ question.question }}</p>
        <!-- Display options for the question using radio buttons -->
        <label for="option1_{{ loop.index }}">1. {{ question.option1 }}</label><br>
        <label for="option2_{{ loop.index }}">2. {{ question.option2 }}</label><br>
        <label for="option3_{{ loop.index }}">3. {{ question.option3 }}</label><br>
        <label for="option4_{{ loop.index }}">4. {{ question.option4 }}</label><br>

        <label for="correct_option_{{ loop.index }}">Choose a Correct Option:</label>
        <select id="correct_option_{{ loop.index }}" name="correct_option_{{ loop.index }}">
          <option value="option1_{{ loop.index }}">Option1</option>
          <option value="option2_{{ loop.index }}">Option2</option>
          <option value="option3_{{ loop.index }}">Option3</option>
          <option value="option4_{{ loop.index }}">Option4</option>
        </select><br><br>
        <input type="text" name="answer_{{ loop.index }}" id="correct_answer" value="{{ question.answer }}" style="display: none;">
      </div>

      {% endfor %}


      <!-- Submit button to submit the test -->
      <button type="submit">Submit Test</button>
    </form>
  </div>
</body>

</html>