<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Test</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/createtest.css') }}">
    
</head>

<body>
    <section class="createtest">
        <h1 align="center">Create Test</h1>
        <form method="post" action="{{ url_for('main.create_test_mcq') }}" enctype="multipart/form-data">
            <div class="inputf">


                <label for="test_id">Test ID:</label>
                <input type="number" name="test_id" id="test_id" required>

                <label for="test_sub_name">Subject:</label>
                <input type="text" name="test_sub_name" id="test_sub_name" required>

                <label for="test_description">Description:</label>
                <textarea name="test_description" id="test_description" rows="4" required></textarea>

                <label for="test_marks">Marks:</label>
                <input type="number" name="test_marks" id="test_marks" required>

                <label for="test_time">Time:</label>
                <input type="time" name="test_time" id="test_time" required>

                <label for="test_date">Date:</label>
                <input type="date" name="test_date" id="test_date" required><br><br>

                <label for="que_count">Question Count :</label>
                <input type="number" name="que_count" id="que_count" required><br><br>

            </div>
            <br>
            {% for i in range(1, qCount + 1) %}
            <div class="main">


                <div class="questions">
                    <div class="series"> <label for="question_text_{{ i }}">Question {{ i }}:</label>
                        <textarea type="text" id="question_text_{{ i }}" name="question_{{ i }}"></textarea> <br>
                    </div>
                    <br>
                    <div class="opt">


                        <label for="option1_{{ i }}">Option 1:</label><br>
                        <input type="text" id="option1_{{ i }}" name="option1_{{ i }}">

                        <label for="option2_{{ i }}">Option 2:</label><br>
                        <input type="text" id="option2_{{ i }}" name="option2_{{ i }}">

                        <label for="option3_{{ i }}">Option 3:</label><br>
                        <input type="text" id="option3_{{ i }}" name="option3_{{ i }}">

                        <label for="option4_{{ i }}">Option 4:</label><br>
                        <input type="text" id="option4_{{ i }}" name="option4_{{ i }}">

                        <label for="correct_option_{{ i }}">Choose a Correct Option:</label>
                        <select id="correct_option_{{ i }}" name="correct_option_{{ i }}">
                            <option value="option1_{{ i }}">Option1</option>
                            <option value="option2_{{ i }}">Option2</option>
                            <option value="option3_{{ i }}">Option3</option>
                            <option value="option4_{{ i }}">Option4</option>
                        </select>

                    </div>

                </div>
            </div>
            {% endfor %}
            <br>
            <div class="button">
                <input type="submit" value="Add Question">
            </div>
            <!-- Your existing submit button -->


        </form>


    </section>

</body>

</html>