<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/teacherlogin.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Kalam&family=KoHo:wght@200&family=Mina&family=Quantico&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
</head>
<body> 
    <div class="head">
        <h1>Teacher Registration</h1>
    </div>
    <section>
        
        
        <div class="content">
            <form method=POST action="{{ url_for('main.signUpTeacher') }}" class="form">
                <h1 align="center" >Create Account</h1>
                <input type="text" name="username" placeholder="Name" />
                
                <select class="form-select" name="department" aria-label="Select Department">
                    <option value="IT">IT</option>
                    <option value="CS">CS</option>
                    <option value="ENTC">ENTC</option>
                    <option value="AI&DS">AI&DS</option>
                    <option value="CIVIL">CIVIL</option>
                    <option value="A&R">A&R</option>
                    <option value="MECHANICAL">MECHANICAL</option>
                    <option value="INSTRUMENTATION">INSTRUMENTATION</option>
                </select>
                  
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button>Sign Up</button>
            </form>
        </div>
    </section>



    <script src="{{ url_for('static', filename='js/teacherlogin.js') }}"></script>
</body>
</html>