<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typeofques.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Kalam&family=KoHo:wght@200&family=Mina&family=Quantico&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <title>Test creation</title>
</head>

<body>

    <div class="testcreation">
        <h2>Create Test</h2>
        <form method="POST" action="{{ url_for('main.questionCount') }}">
            <input type="number" name="count" placeholder="Question Count"><br>
            <input type="radio" name="que_type" value="mcq" id="mcq">
            <label for="mcq">MCQ</label>
            <input type="radio" name="que_type" value="paragraph" id="paragraph">
            <label for="paragraph">Paragraph</label>
            <div class="butn">
                <input type="submit" placeholder="Submit">
            </div>
            
        </form>
    </div>

</body>

</html>
