<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attempt Test</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attempt_test.css') }}">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

</head>

<body>
  <div class="container">
    <!-- Display test details -->
    <div class="details">
      <h1>{{ test.subject }}</h1>
      <p>{{ test.description }}</p>
      <p>Start Time: {{ st }}</p>
      <p>End Time: {{ et }}</p>
    </div>

    <!-- Add other test details like marks, time, etc. if available -->
    <!-- Display test questions -->
    <div id="content"></div>
    <div id="timer"></div>
    <button id="fullscreenButton" style="display: none;">Enter Full Screen</button>
    <div id="fullscreen" style="display: none;">
      <!-- Submit button to submit the test -->
      <div id="testForm">
        <form method="POST" action="{{ url_for('submit_test',test_id=test.test_id) }}">
          <!-- Loop through and display test questions -->
          {% for question in questions %}

          <div class="question">

            <h3>Question {{ (loop.index) }}</h3>
            <p>{{ question.question }}</p>
            {% if question.image_path %}
            <img src="{{ url_for('download_file', filename= question.image_path) }}" alt="Question Image"
              style="height: 300px; width: 300px;">
            {% endif %}
            <!-- Display options for the question using radio buttons -->
            <label for="option1_{{ loop.index }}">1. {{ question.option1 }}</label><br>
            <label for="option2_{{ loop.index }}">2. {{ question.option2 }}</label><br>
            <label for="option3_{{ loop.index }}">3. {{ question.option3 }}</label><br>
            <label for="option4_{{ loop.index }}">4. {{ question.option4 }}</label><br>

            <label for="correct_option_{{ loop.index }}">Choose a Correct Option:</label>
            <select id="correct_option_{{ loop.index }}" name="correct_option_{{ loop.index }}">
              <option value="" selected disabled>Select an Option</option>
              <option value="option1_{{ loop.index }}">Option1</option>
              <option value="option2_{{ loop.index }}">Option2</option>
              <option value="option3_{{ loop.index }}">Option3</option>
              <option value="option4_{{ loop.index }}">Option4</option>
            </select><br>
          </div>

          {% endfor %}
      </div>
    </div>

    <button type="submit" id="submitButton">Submit Test</button>
    </form>




  </div>

  <script>

    var popUpCount = 0;
    var popUpCountExcided = false;
    var firstTime = false;
    var max_count=5;
    document.getElementById('fullscreenButton').addEventListener('click', enterFullScreen);

    document.addEventListener('visibilitychange', function () {
      if (document.visibilityState === 'hidden') {
        // User switched away from the page
        if (firstTime) {
          alert("You have switched away from the test. Please click on Enter Full Screen Button to go back into full screen mode");
          popUpCount += 1;
          hideQuestion();
        }
      }
    });


    $(document).ready(function () {
      function disableBack() {
        window.history.forward();
      }

      disableBack();

      window.onload = disableBack;
      window.onpageshow = function (evt) {
        if (evt.persisted) disableBack();
      };
    });

    function enterFullScreen() {
      firstTime = true;

      document.getElementById("fullscreenButton").style.display = "none";
      document.getElementById("fullscreen").style.display = "block";
      document.getElementById("testForm").style.display = "block";
      var element = document.documentElement; // Fullscreen for the whole document
      if (element.requestFullscreen) {
        element.requestFullscreen();
      } else if (element.mozRequestFullScreen) { // Firefox
        element.mozRequestFullScreen();
      } else if (element.webkitRequestFullscreen) { // Chrome, Safari and Opera
        element.webkitRequestFullscreen();
      } else if (element.msRequestFullscreen) { // IE/Edge
        element.msRequestFullscreen();
      }
    }

    function checkFullScreen() {
      if (popUpCount > max_count) {
        // If popUpCount is greater than 6, stop the function and click the submit button
        document.getElementById("content").innerHTML = "The exam has ended.";
        document.getElementById("submitButton").style.display = "block";
        document.getElementById("testForm").style.display = "none";
        popUpCountExcided = true;
        document.getElementById("submitButton").click();
        popUpCount = 0;
        return;
      }

      if (firstTime == true) {
        if (!document.fullscreenElement) {
          // User exited fullscreen, show popup and re-enter fullscreen on OK
          document.getElementById("testForm").style.display = "none";
          document.getElementById("fullscreenButton").style.display = "block";
          alert("You have exited fullscreen mode. Please click on Enter Full Screen Button to go back into full screen mode");
          popUpCount += 1;
          console.log(popUpCount);
        }
      }

      setTimeout(checkFullScreen, 7000);

    }

    var start_time = new Date("{{ start_time }}");
    var end_time = new Date("{{ end_time }}");

    function checkAccess() {
      var currentTime = new Date();

      if (currentTime < start_time) {
        document.getElementById("content").innerHTML = "The exam will start at " +
          start_time.toLocaleTimeString();
        document.getElementById("timer").style.display = "block";
        document.getElementById("submitButton").style.display = "none";
        document.getElementById("testForm").style.display = "none";
        document.getElementById("fullscreenButton").style.display = "none";
        var delay = start_time - currentTime;
        if (delay > 0) {
          setTimeout(function () {
            location.reload(true); // Reload the page when the test starts
          }, delay);
        } // Start countdown after checking access
      } else if (currentTime > end_time) {
        document.getElementById("content").innerHTML = "The exam has ended.";
        document.getElementById("submitButton").style.display = "block";
        document.getElementById("testForm").style.display = "none";
        document.getElementById("fullscreenButton").style.display = "none";
              } else {

        if (popUpCountExcided == false) {
          document.getElementById("fullscreenButton").style.display = "block";
          document.getElementById("content").innerHTML = "Timer";
          document.getElementById("submitButton").style.display = "block";
          document.getElementById("testForm").style.display = "block";
          document.getElementById("fullscreenButton").style.display = "block";
          checkFullScreen();
          countdown();
        }
      }
    }

    function countdown() {
      var currentTime = new Date();

      var timeRemaining = Math.max(0, end_time - currentTime);
      var hours = Math.floor(timeRemaining / (1000 * 60 * 60));
      var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

      document.getElementById("timer").innerHTML = hours + "h " + minutes + "m " + seconds + "s";
      if (timeRemaining > 0) {
        setTimeout(countdown, 1000);
      } else {
        checkAccess();
      }
    }

    window.onload = function () {
      checkAccess();
    };

    document.addEventListener('contextmenu', function (event) {
      event.preventDefault();
    });

    document.addEventListener('copy', function (event) {
      event.preventDefault();
    });

    document.addEventListener('cut', function (event) {
      event.preventDefault();
    });

    document.addEventListener('paste', function (event) {
      event.preventDefault();
    });

    function hideQuestion() {
      // Add code to hide the question element
      document.getElementById("testForm").style.display = "none";
      document.getElementById("fullscreenButton").style.display = "block";
    }
  </script>

</body>

</html>