<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE SUPERVISOR</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

</head>

<body>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <div class="heading">
        <h1>SUPERVISOR</h1>
        <h1>DEPARTMENT OF INFORMATION TECHNOLOGY</h1>

    </div>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form method="POST" action="{{ url_for('register') }}" enctype="multipart/form-data">
                <h1>Create Account</h1>
                <input type="text" name="username" placeholder="Name" />
                <div class="sele">
                    <select class="form-select" name="year">
                        <option value="NULL">Select Year</option>
                        <option value="SE">SE</option>
                        <option value="TE">TE</option>
                        <option value="BE">BE</option>
                    </select>
                    <select class="form-select" name="department">
                        <option value="NULL">Select Department</option>
                        <option value="IT">IT</option>
                        <option value="CS">CS</option>
                        <option value="ENTC">ENTC</option>
                        <option value="AI&DS">AI&DS</option>
                        <option value="CIVIL">CIVIL</option>
                        <option value="A&R">A&R</option>
                        <option value="MECHANICAL">MECHANICAL</option>
                        <option value="INSTRUMENTATION">INSTRUMENTATION</option>
                    </select>
                </div>
                <input type="number" name="rollno" placeholder="Roll No" />

                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <input type="file" name="file" accept="image/*" required>
                <button>Sign Up</button>
            </form>

        </div>
        <div class="form-container sign-in-container">
            <form method="POST" action="{{ url_for('login') }}">
                <h1>Sign in</h1>
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="user_type" id="teacher" value="teacher">
                    <label class="form-check-label" for="teacher">Teacher</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="user_type" id="student" value="student" checked>
                    <label class="form-check-label" for="student">Student</label>
                </div>

                <button type="submit">Sign In</button>
            </form>


        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>



    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    {% if jsonify_message is undefined %}
    {% set jsonify_message = '' %}
    {% endif %}

    <script>
        // Get the message from the JSON response
        var message = {{ jsonify_message | tojson | safe }};

        // Check if there's a message and display it as a pop-up
        if (message) {
            alert(message);
        }
    </script>
</body>

</html>