<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Test</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/createtest.css') }}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Kalam&family=KoHo:wght@200&family=Mina&family=Quantico&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="head"> 
        <h1>Create Test</h1>
    </div>
    
    <section class="createtest">
        
        
        {% if test_id_exists %}
        <script>
            alert("Test ID already present, change the ID");
        </script>
        {% endif %}

        <form method="post" action="{{ url_for('create_test_mcq') }}" enctype="multipart/form-data">
            <div class="inputf">


                <label for="test_id">Test ID:</label>
                <input type="number" name="test_id" id="test_id" value="{{ test_id }}" style="display: none;">
                <input value="{{ test_id }}" style="display: block;" disabled>
                

                <label for="test_sub_name">Subject:</label>
                <input type="text" name="test_sub_name" id="test_sub_name" required>

                <label for="test_description">Description:</label>
                <textarea name="test_description" id="test_description" rows="4" required></textarea>

                <label for="test_marks">Marks:</label>
                <input type="number" name="test_marks" id="test_marks" required>

                <label for="start_time">Start Time:</label>
                <input type="time" name="start_time" id="start_time" required>

                <label for="end_time">End Time:</label>
                <input type="time" name="end_time" id="end_time" required>

                <label for="test_date">Date:</label>
                <input type="date" name="test_date" id="test_date" required><br><br>

                <input type="number" name="que_count" id="que_count" required value="{{ qCount }}" style="display: none;"><br><br>

            </div>
            <br>
            {% for i in range(1, qCount + 1) %}
            <div class="main">


                <div class="questions">
                    <div class="series"> <label for="question_text_{{ i }}">Question {{ i }}:</label>
                        <textarea type="text" id="question_text_{{ i }}" name="question_{{ i }}"></textarea> <br>
                    </div>
                    <br>
                    <div class="opt">


                        <label for="option1_{{ i }}">Option 1:</label><br>
                        <input type="text" id="option1_{{ i }}" name="option1_{{ i }}">

                        <label for="option2_{{ i }}">Option 2:</label><br>
                        <input type="text" id="option2_{{ i }}" name="option2_{{ i }}">

                        <label for="option3_{{ i }}">Option 3:</label><br>
                        <input type="text" id="option3_{{ i }}" name="option3_{{ i }}">

                        <label for="option4_{{ i }}">Option 4:</label><br>
                        <input type="text" id="option4_{{ i }}" name="option4_{{ i }}">

                        <label for="correct_option_{{ i }}">Choose a Correct Option:</label>
                        <select id="correct_option_{{ i }}" name="correct_option_{{ i }}">
                            <option value="option1_{{ i }}">Option1</option>
                            <option value="option2_{{ i }}">Option2</option>
                            <option value="option3_{{ i }}">Option3</option>
                            <option value="option4_{{ i }}">Option4</option>
                        </select>

                        <input type="file" name="file_{{ i }}" accept="image/*" >

                    </div>

                </div>
            </div>
            {% endfor %}
            <br>
            <div class="button">
                <input type="submit" value="Add Question">
            </div>
            <!-- Your existing submit button -->


        </form>


    </section>

</body>

</html>