*{
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'KoHo', sans-serif;
font-family: 'Mina', sans-serif;
font-family: 'Quantico', sans-serif;
font-family: 'Space Grotesk', sans-serif;
}
.head{
    padding: 1.5%;
    margin: 0%;
    text-align: center;
    color: aliceblue;
    background-color: rgb(3, 0, 23);
}
.navbar{
    display: flex;
    flex-direction: column;
    background-color: #7b0629;
    color: aliceblue;
    text-decoration: none;
    text-align: left;
    width: 30vh;
    height: 100%;
    padding-top: 2rem;
    margin: 0%;
    font-size: 23px; 
}
.navbar ul{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.navbar ul li{
    list-style: none;
}
.navbar ul :hover{
    cursor: pointer;
    color: rgb(250, 87, 87);
}
a{
    text-decoration: none;
    color: aliceblue;
    
}
a:hover{
    text-decoration: none;
    
}

.active{
    text-decoration: underline;
    font-weight: 700;
}
.but-1{
    align-items: center;
    background-color: #1a202c;
    color: aliceblue;
    
    width: 20vh;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px  rgba(76, 0, 0, 0.559);
    cursor: pointer;
}
.upcoming{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    
}
.adjust{
    display: flex;
}