* {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'KoHo', sans-serif;
    font-family: 'Mina', sans-serif;
    font-family: 'Quantico', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

.head {
    padding: 1.5%;
    margin: 0%;
    text-align: center;
    color: aliceblue;
    background-color: #070707;
}

.main {
    display: flex;
    margin-top: 0%;

}
.active{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: 700;
}
.Navbar {

    display: flex;
    flex-direction: column;
    background-color: #7b0629;
    
    text-decoration: none;
    align-items: center;
    width: 15%;
    height: 190vh;
    text-align: center;
    /* position: absolute; */
    padding-top: 7%;
    margin: 0%;


}

.Navbar ul {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    font-size: 1.4rem;
}

.Navbar ul li {
    list-style: none;
}

.Navbar ul li a {
    text-decoration: none;
    color: aliceblue;
}

.Navbar ul li :hover {
    cursor: pointer;

}

.Navbar ul :hover {
    color: #E54350;
}

.home {
    height: 89vh;
    background: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    justify-content: center;

}


.wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    width: 145vh;
}

.wrapper .static-txt {
    font-size: 100px;
    font-weight: 400;
    color: aliceblue;
}

.wrapper .dynamic-txt {
    margin-left: 15px;

}

.dynamic-txt li {
    list-style: none;
    font-size: 100px;
    font-weight: 500;
    color: #E54350;
}

.dynamic-txt li span {
    position: relative;
}

.dynamic-txt li span::after {
    content: "";
    left: 0;
    right: 0;
    background: rgb(26, 26, 26);
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid red;
    animation: typing 2.1s steps(12) infinite;
}

@keyframes typing {
    100% {
        left: 100%;


    }
}


.tests {
    height: 101vh;
    background-color: rgba(234, 232, 232, 0.814);
}

.heading {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.upcoming {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 170vh;
    justify-content: space-between;


}

.card {
    height: 40vh;
}


/* .leaderboard{
    height: 100vh;
    background: rgb(26, 26, 26);
    color: aliceblue;    
} */
.ranks {
    padding: 3rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

}

th,
td {
    border: 1px solid rgb(87, 87, 87);
    padding: 5px;
    color: rgb(43, 208, 214);
}

th {
    background-color: #070707;
}

td {
    text-align: center;
}

.home {
    width: 180vh;

}