/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.test-info,
.student-info {
    margin-bottom: 20px;
}

.highlight {
    font-weight: bold;
    color: #007bff; /* Change color as desired */
}

h3 {
    text-align: right;
    margin-top: 20px;
}

h3 a {
    text-decoration: none;
    color: #007bff; /* Change color as desired */
}

h3 a:hover {
    text-decoration: underline;
}
