*{
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'KoHo', sans-serif;
font-family: 'Mina', sans-serif;
font-family: 'Quantico', sans-serif;
font-family: 'Space Grotesk', sans-serif;
}
.head{
    padding: 1.5%;
    margin: 0%;
    text-align: center;
    color: aliceblue;
    background-color: rgb(3, 0, 23);
}
.head2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 2rem;
}

.navbar{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: aliceblue;
    text-decoration: none;
    align-items: center;
    width: 30vh;
    height: 86.5vh;
    text-align: center;
    justify-content: space-between;
    /* position: absolute; */
    padding-top: 17%;
    margin: 0%;
    font-size: 23px;
   
    
}
.main{
    display: flex;
}
.nd{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

.navbar ul li{
    list-style: none;
}
.navbar ul :hover{
    cursor: pointer;
    color: rgb(250, 87, 87);
}
.testcreation{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
form input{
    width: 17rem;
    height: 3.5rem;
}
.upcoming{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    color: aliceblue;
    
}
a:hover{
    text-decoration: none;
    
}