body{
    background-color: rgb(18, 25, 73);
    /* background: #F0F2F0;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #000C40, #F0F2F0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
}
.hello h1{
    text-align: center;
}
.page{
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section{
    background: whitesmoke;
    display: flex;
    justify-content: center;
    width: 100vh;
    height: 80vh;
    border-radius: 2%;
    box-shadow: 3px 3px 10px lightblue;
        
}
table td{
    padding: 3rem;
}