<!DOCTYPE html>
<html>
<head>
    <title>Update Student Details</title>
    <link rel="stylesheet" href="../static/eh.css">
</head>
<body>
    <div class="page">
        <div class="body">
            <div class="heading">
                <h1>Delete Student Details</h1>
            </div>
            <div class="data">
                <form method="POST" action="/delete_student">  <!-- Point the form to the update_student route -->
                    
                    
                    <label for="rollno">Enter Roll No:</label>
                    <input type="text" name="rollno" required><br><br>
                    
                    
            
                    <input id="hel" type="submit" value="Delete Student Data">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
