<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/home.css">
  <div class="head">
    <h2>ADBMS Project</h2>
  </div>
  <div class="main">
    <div class="Navbar">
      <ul>
        <li><a>Home</a></li>

        <li onclick="logout()"><a href="/logout">Logout</a></li>
      </ul>
    </div>

    <div class="content">
      <section class="home">
        <div class="wrapper">
          <div class="static-txt">Hello..</div>

          <ul class="dynamic-txt">
            <li><span>IT Enthusiat..</span></li>

          </ul>
        </div>

      </section>


      <section class="tests">
        <div class="heading">
          <h1>Upcoming Tests</h1>
        </div>
        <div class="upcoming">
          {% for test in upcoming_tests %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ test.subject }}</h5>
              <!-- <p class="card-text">{{ test.description }}</p><br> -->
              <!-- <a href="{{ test.link }}" class="btn btn-primary">Attempt Test</a><br><br> -->
              <p>
                <!-- Marks: {{ test.marks }} <br> -->
                Date: {{ test.test_date }} <br>
                <!-- Time: {{ test.time }} -->
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>



      <section class="leaderboard">
        <div class="heading">
          <h1>leaderboard</h1>
        </div>
        <div class="ranks">
          <table border="1">
            <tr>
              <th>Sr.no</th>
              <th>Name</th>
              <th>Score</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Atharva Khewalkar</td>
              <td>100</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Anuj Walsepatil</td>
              <td>95</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Pratiksha Shinde</td>
              <td>90</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Sakashi Jadhav</td>
              <td>89</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Ritesh Phadtare</td>
              <td>88</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Athang Patel</td>
              <td>87</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Namesh Gandhi</td>
              <td>86</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Aniket Ghavte</td>
              <td>85</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Tejas Auti</td>
              <td>84</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Apurva Koshti</td>
              <td>83</td>
            </tr>

          </table><br><br>
          <p align="center">Congratulations to the Top 10 students..!!</p>

        </div>

      </section>
    </div>
  </div>
  <script src="/static/home.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>