<!DOCTYPE html>
<html>
<head>
    <title>Show Student Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/ehh.css">
</head>
<body>
    <div class="page">
        <section>
            <div class="hello">
                <h1>Student Details</h1>
                <div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Roll no</th>
                            <th>Age</th>
                            <th>Grade</th>
                        </tr>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.name }}</td>
                            <td>{{ student.rollno }}</td>
                            <td>{{ student.age }}</td>
                            <td>{{ student.grade }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                
        </div>
        </section>
    </div>
    
    
    
</body>
</html>
