<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/teacherlogin.css">
</head>
<body>
    <section>
        <div>
            <form method=POST action="{{ url_for('signUp') }}">
                <h1>Create Account</h1>
                <input type="text" name="username" placeholder="Name" />
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Year</option>
                    <option value="1">SE</option>
                    <option value="2">TE</option>
                    <option value="3">BE</option>
                  </select>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Select Department</option>
                    <option value="1">IT</option>
                    <option value="2">CS</option>
                    <option value="3">ENTC</option>
                    <option value="1">AI&DS</option>
                    <option value="2">CIVIL</option>
                    <option value="3">A&R</option>
                    <option value="1">MECHANICAL</option>
                    <option value="2">INSTRUMENTATION</option>
                  </select>
                  <input type="number" name="Rollno" placeholder="Roll No" />
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button>Sign Up</button>
            </form>
        </div>
    </section>



    <script src="{{url_for('static', filename='teacherlogin.js')}}"></script>
</body>
</html>