<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
</head>
<body>
    <h4>Welcome to Teacher Dashboard</h4>
    <div>
        <form method=POST action="{{ url_for('testCreation') }}">
            <input type="text" name="sub_name" placeholder="Enter the Subject">
            <input type="date" name="test_date" placeholder="Enter the date">
            <input type="submit" placeholder="Submit">
        </form>
    </div>
    <script src="/static/home.js"></script>
</body>
</html>