<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/teacherlogin.css">
</head>
<body>
    <section>
        <h1 align="center">Teacher Registration</h1>
        <div class="content">
            <form method=POST action="{{ url_for('signUpTeacher') }}" class="form">
                <h1 align="center" >Create Account</h1>
                <input type="text" name="username" placeholder="Name" />
                
                <select class="form-select" name="department" aria-label="Select Department">
                    <option value="IT">IT</option>
                    <option value="CS">CS</option>
                    <option value="ENTC">ENTC</option>
                    <option value="AI&DS">AI&DS</option>
                    <option value="CIVIL">CIVIL</option>
                    <option value="A&R">A&R</option>
                    <option value="MECHANICAL">MECHANICAL</option>
                    <option value="INSTRUMENTATION">INSTRUMENTATION</option>
                </select>
                  
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button>Sign Up</button>
            </form>
        </div>
    </section>



    <script src="{{url_for('static', filename='teacherlogin.js')}}"></script>
</body>
</html>